$font: "Unbounded";

$accent: #7027E2;
$bg: #1F2023;
$light: #fff;
$dark: #2a2f36;
$gray: #ededed;

$tr: .3s;

$br-min: 20px;
$br-max: 50px;

$r-desk_full_over: 1600px;
$r-desk_full: 1500px;
$r-desk_wxga: 1366px;
$r-desk: 1024px;
$r-tab: 768px; //iPad Mini
$r-mobile_600: 600px;
$r-mobile_500: 500px;
$r-mobile_400: 400px;
$r-mobile_360: 360px;