@import 'font';
@import 'var';
@import 'normalize';

@keyframes move-left {
	0% {
		transform: translate(100%, 0);
	}
	100% {
		transform: translate(-150%, 0);
	}
}

* {
  box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-family: $font;
	font-weight: 400;
	background-color: $bg;
	color: $light;	
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

.title-h2 {
	font-weight: 700;
	font-size: 3.2rem;
	line-height: 110%;
	letter-spacing: 1.6px;
	text-transform: uppercase;
	color: $gray;
	@media (max-width: $r-mobile_600) {
		font-size: 1.8rem;
	}
}

.header {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	height: 71px;
	position: sticky;
	width: 100%;
	top: 0;
	z-index: 990;	
	@media (max-width: $r-tab) {
		height: 66px;
	}
	@media (max-width: ($r_tab - 20px)) {
		height: 50px;
		background-color: $accent;
		border-radius: 10px 10px 0 0;
	}	
	@media (max-width: $r-mobile_600) {
		height: clamp(40px, 10vw, 50px);
	}	
	&::before {
		content: '';
		display: block;
		width: 100%;
		height: 27px;
		position: absolute;
		background-color: $accent;
		border-radius: 10px 10px 0 0;
		top: 0;
		left: 0;
		z-index: -1;
		@media (max-width: $r-tab) {
			top: -2px;
		}
		@media (max-width: ($r_tab - 20px)) {
			display: none;
		}		
	}	
	&__logo {
		background-color: $accent;
		padding: 17px 45px 0 45px;
		border-radius: 10px 0 0 0;
		position: relative;
		@media (max-width: $r-desk) {
			padding: 17px 20px 0 20px;
		}
		@media (max-width: ($r_tab - 20px)) {
			padding: 14px 15px 15px 15px;
		}	
		&::before {
			content: '';
			display: block;
			width: 26px;
			height: 24px;
			background-image: url(../images/header-bottom-left.svg);
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			bottom: -24px;
			left: 0;
		}
		&::after {
			content: '';
			display: block;
			width: 68px;
			height: 71px;
			background-image: url(../images/header-left.svg);
			position: absolute;
			right: -67px;
			top: 0;
			@media (max-width: $r-tab) {
				height: 66px;
				background-size: contain;
				background-repeat: no-repeat;
				right: -63px;
			}
			@media (max-width: ($r_tab - 20px)) {
				display: none;
			}	
		}
	}
	&__menu {
		background-color: $accent;
		padding: 17px 45px 0 45px;
		border-radius: 0 10px 0 0;
		position: relative;	
		@media (max-width: $r-desk) {
			padding: 17px 20px 0 20px;
		}
		@media (max-width: $r-tab) {
			padding: 20px 20px 0 20px;
		}
		@media (max-width: ($r_tab - 20px)) {
			padding: 14px 15px 10px 15px;
		}	
		&::before {
			content: '';
			display: block;
			width: 68px;
			height: 71px;
			background-image: url(../images/header-right.svg);
			position: absolute;
			left: -67px;
			top: 0;
			@media (max-width: $r-tab) {
				height: 66px;
				background-size: contain;
				background-repeat: no-repeat;
				left: -60px;
			}
			@media (max-width: ($r_tab - 20px)) {
				display: none;
			}	
		}
		&::after {
			content: '';
			display: block;
			width: 26px;
			height: 24px;
			background-image: url(../images/header-bottom-right.svg);
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			right: 0;
			bottom: -24px;			
		}
	}
	&__link {
		color: $light;
		font-size: 2rem;
		padding-bottom: 5px;
		border-bottom: 1px solid $light;
		transition: $tr;
		@media (hover: hover) {
			&:hover {
				color: $gray;	
				border-bottom: 1px solid $gray;			
			}
		}
		@media (max-width: $r-tab) {
			font-size: 1.6rem;
		}
		@media (max-width: $r-mobile_600) {
			padding-top: 3px;
			font-size: clamp(1rem, 1.8vw + 0.3rem, 1.6rem);
		}		
	}
}

.logo {
	&._max {
		svg {
			width: 400px;
			@media (max-width: $r-desk) {
				width: clamp(300px, 39vw, 400px);
			}	
			@media (max-width: $r-mobile_600) {
				width: clamp(150px, 40vw, 300px);
			}					
		}
	}
	&._min {
		svg {
			width: 296px;
			height: 22px;
		}
	}
}

.container {
	height: 100%;
	max-width: 1920px;
	margin: 0 auto;
	padding-left: 45px;
	padding-right: 45px;	
	@media (max-width: $r-desk) {
		padding-left: 20px;
		padding-right: 20px;	
	}
	@media (max-width: $r-mobile_600) {
		padding-left: 15px;
		padding-right: 15px;	
	}
}

.banner {
	display: flex;
	background-image: url(../images/bg-banner.jpg);
	// background-color: rgba($color: $accent, $alpha: 0.5);
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: space-between;
	margin-top: 135px;
	border-radius: $br-max;
	padding: 100px 50px;
	margin-bottom: 150px;
	gap: 50px;
	@media(max-width: $r-desk_full) {
		flex-direction: column;
		padding: 80px 40px;
		margin-bottom: 100px;
	}
	@media (max-width: ($r-desk - 24px)) {
		padding: 50px 30px;
	}
	@media(max-width: $r-tab) {
		margin-bottom: 80px;
	}
	@media(max-width: ($r-tab - 20px)) {
		margin-top: 88px;
		margin-bottom: 50px;
		border-radius: $br-min;
		padding: 20px 15px;
		gap: 30px;
	}
	&__main {
		flex-basis: 61%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media (max-width: $r-desk_full) {
			gap: 50px;
		}
		@media (max-width: $r-tab) {
			gap: 30px;
		}
		@media(max-width: ($r-tab - 20px)) {
			gap: 12px;
		}
	}
	&__title {
		font-size: 6.4rem;
		font-weight: 700;		
		line-height: 110%;
		margin-bottom: 20px;		
		@media (max-width: $r-desk_full) {
			font-size: clamp(5.0rem, 4vw + 1rem, 6.4rem);		
		}
		@media (max-width: $r-tab) {
			font-size: clamp(2.5rem, 3.8vw + 1.1rem, 4rem);
		}
	}
	&__btn {
		display: block;
		padding: 53px;
		background-color: $accent;
		color: $light;
		border-radius: $br-min;
		font-size: 2rem;
		letter-spacing: 1px;
		line-height: 110%;		
		text-align: center;
		text-transform: uppercase;
		border: 1px solid $accent;		
		transition: $tr;
		@media(hover:hover) {
			&:hover {
				background-color: transparent;
			}
		}
		@media(max-width: ($r-tab - 20px)) {
			padding: 32px;
			font-size: clamp(1.4rem, 2.7vw, 2rem);
		}
	}
	&__info {
		flex-basis: calc(39% - 50px);
		@media (max-width: $r-desk_full) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;
		}
		@media (max-width: ($r_tab - 20px)) {
			grid-template-columns: 1fr;
			gap: 12px;
		}		
	}
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 149px;
		border: 1px solid $light;
		border-right: none;
		border-radius: $br-min 0 0 $br-min;
		position: relative;
		margin-right: 80px;
		margin-bottom: 19px;
		padding-left: 30px;
		transition: $tr;
		z-index: 1;
		cursor: pointer;		
		&:last-child {
			margin-bottom: 0;
		}
		@media (hover: hover) {
			&:hover {
				&::before {
					width: 100%;
					transform: scale(1);
					opacity: 1;
				}			
				.banner__decor {
					background-color: $accent;
					border: 1px solid $accent;				
					@media (max-width: ($r-desk - 24px)) {
						border: 1px solid $light;	
					}
					&::after {
						transform: scale(1);
						opacity: 1;
						@media (max-width: ($r-desk - 24px)) {
							transform: scale(0);
						}
					}
				}
			}
		}
		@media (max-width: $r-desk_full) {
			margin-bottom: 0;
		}
		@media (max-width: ($r-desk - 24px)) {
			height: inherit;
			justify-content: center;
			padding: 25px 10px 25px 100px;
			margin-right: 0;
			border-radius: $br-min;
			border-right: 1px solid $light;
		}
		@media (max-width: ($r-tab - 20px)) {
			padding-left: 65px;
		}
		&::before {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 151px;
			border-radius: $br-min 0 0 $br-min;
			border: 1px solid $accent;
			background-color: $accent;
			top: -2px;
			right: 1px;
			transition: $tr;
			transform: scale(0);
			transform-origin: top right;
			z-index: -1;
			opacity: 0;
			@media (max-width: ($r-desk - 24px)) {
				height: 108px;
				border-radius: $br-min;
				transform-origin: center;
				right: -1px;
			}
		}
	}
	&__text {
		font-weight: 200;
		font-size: 2.4rem;
		line-height: 110%;
		@media (max-width: ($r-desk - 24px)) {
			font-size: 1.8rem;
		}
		@media (max-width: ($r-tab - 20px)) {
			font-size: clamp(1.2rem, 1.7vw + 0.5rem, 1.8rem);
		}		
		span {
			display: block;
			font-weight: 700;
			font-size: 3.2rem;
			line-height: 110%;
			margin-top: 20px;
			@media (max-width: ($r-desk - 24px)) {
				font-size: 2.0rem;
				margin-top: 12px;
			}
			@media (max-width: ($r-tab - 20px)) {
				font-size: clamp(1.4rem, 1.9vw + 0.5rem, 2rem);
			}			
		}
	}
	&__decor {
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		border: 1px solid $light;
		border-radius: 10px;
		top: -1px;
    right: -80px;
		z-index: 3;
		transition: $tr;
		@media (max-width: ($r-desk - 24px)) {
			top: calc(50% - 25px);
			right: inherit;
			left: 30px;
		}
		@media (max-width: ($r-tab - 20px)) {
			width: 40px;
			height: 40px;
			top: calc(50% - 20px);
			left: 15px;
			img {
				width: 25px;
				height: 25px;
			}
		}
		&::before {
			content: '';
			display: block;
			position: absolute;
			width: 81px;
			height: 151px;
			background-image: url(../images/banner-info-decor.svg);
			background-repeat: no-repeat;
			background-size: contain;
			right: 0;
			top: -1px;
			@media (max-width: ($r-desk - 24px)) {
				display: none;
			}
		}
		&::after {
			content: '';
			display: block;
			position: absolute;
			width: 81px;
			height: 151px;
			background-image: url(../images/banner-info-decor-active.svg);
			background-repeat: no-repeat;
			background-size: contain;
			right: 0;
			top: -1px;
			transition: $tr;
			transform: scale(0);
			transform-origin: top left;
			opacity: 0;
		}		
	}
}

.banner-box {
	border-radius: $br-min;
	border: 1px solid $light;
	padding: 30px 330px 30px 30px;
	letter-spacing: 0.05em;
	position: relative;
	@media (max-width: $r-desk_full_over) {
		padding-right: clamp(200px, 20vw, 330px);
	}
	@media (max-width: $r-desk_full) {
		padding-right: 330px;
	}
	@media (max-width: $r_tab) {
		padding-right: clamp(150px, 33vw, 250px);
	}
	@media (max-width: ($r_tab - 20px)) {
		padding: 15px 15px 30px 15px;
	}		
	&__title {
		font-weight: 400;
		font-size: 2.4rem;
		line-height: 110%;
		letter-spacing: 1.2px;
		margin-bottom: 30px;
		text-transform: uppercase;		
		text-wrap: nowrap;
		@media (max-width: $r_tab) {
			font-size: clamp(1.8rem, 1.9vw + 1.1rem, 2.4rem);
		}
	}
	&__text {
		font-weight: 400;
		font-size: 2rem;
		line-height: 150%;
		@media (max-width: $r-desk_full) {
			max-width: 572px;
		}
		@media (max-width: $r_tab) {
			font-size: clamp(1.4rem, 2.7vw, 2rem);
		}		
	}
	&__img {
		position: absolute;
		transition: $tr ease-in-out;
		@media (max-width: ($r_tab - 20px)) {
			display: none;
		}		
		@media (hover: hover) {
			&:hover {
				transform: rotate(-10deg);
			}
		}
		&._electoguitar {
			top: -69px;
			right: -20px;
			@media (max-width: $r-desk_full_over) {
				width: clamp(250px, 22vw, 332px);
				bottom: 45px;
			} 
			@media (max-width: $r-desk_full) {
				width: auto;
				top: -69px;
				bottom: inherit;
			}
			@media (max-width: $r_tab) {
				top: -10px;
				width: clamp(150px, 33vw, 252px);
			}			
		}			
	}
}

.tag {
	display: flex;
	gap: 64px;
	animation: move-left 30s infinite linear alternate;
	margin-bottom: 150px;	
	@media (hover: hover) {
		&:hover {
			animation-play-state: paused;
		}
	}
	@media(max-width: $r-desk) {
		margin-bottom: 100px;
	}
	@media(max-width: $r-tab) {
		margin-bottom: 80px;
	}
	@media(max-width: ($r_tab - 20px)) {
		display: none;
	}	
	&__text {
		font-weight: 200;
		font-size: 2.4rem;
		line-height: 110%;
		color: $gray;
		border: 1px solid $gray;;
		border-radius: $br-max;
		padding: 10px 20px;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			display: block;
			width: 16px;
			height: 16px;
			border-radius: 100%;
			background-color: $accent;
			left: -40px;
			top: calc(50% - 8px);
		}
	}
}

.course {
	display: flex;
	gap: 70px;
	@media (max-width: $r-desk_full) {
		flex-direction: column;
		gap: 30px;
	}
	&__title {
		flex-basis: 395px;
		@media (max-width: $r-desk_full) { 
			flex-basis: auto;
			display: flex;
			justify-content: space-between;
		}		
		@media(max-width: $r-mobile_600) {
			align-items: center;
		}
	}
	&__control {
		margin-top: 40px;
		@media (max-width: $r-desk_full) {
			margin-top: 0;
		}
	}
	&__content {
		width: calc(100% - 395px - 70px);
		flex-basis: calc(100% - 395px - 70px);
		@media (max-width: $r-desk_full) { 
			width: 100%;
			flex-basis: auto;
		}
	}	
	&__schedule {
		margin-top: 50px;	
		margin-bottom: 150px;
		@media (max-width: $r-desk) {
			margin-bottom: 100px;			
		}
		@media (max-width: $r-tab) {
			margin-bottom: 80px;			
		}
		@media (max-width: ($r-tab - 20px)) {
			margin-top: 33px;	
			margin-bottom: 50px;	
		}
	}
}

.course-control {
	display: flex;
	align-items: center;
	gap: 20px;	
	@media(max-width: $r-mobile_600) {
		gap: 10px;
	}
	&__prev, 
	&__next {
		display: flex;
		align-items: center;
		width: 70px;
		height: 70px;
		background-color: transparent;
		border: 1px solid $light;
		border-radius: 100%;
		right: inherit;
		left: inherit;
		position: inherit;
		transition: $tr;		
		@media (max-width: $r-desk_full) {
			width: 50px;
			height: 50px;
			margin-top: 0;
		}		
		@media(max-width: $r-mobile_600) {
			width: 40px;
			height: 40px;			
		}
		@media (hover: hover) {
			&:hover {
				border: 1px solid $accent;
				background-color: $accent;
			}
		}
		&::after {
			content: '';
			display: block;
			width: 49px;
			height: 24px;
			background-repeat: no-repeat;
			background-size: contain;			
			@media (max-width: $r-desk_full) {
				width: 32px;
				height: 16px;
			}
			@media(max-width: $r-mobile_600) {
				width: 25px;
				height: 12px;			
			}
		}
	}
	&__prev {
		&::after {
			background-image: url(../images/ui/arrow-prev.svg);
		}
	}
	&__next {
		&::after {
			background-image: url(../images/ui/arrow-next.svg);
		}
	}
}

.slider-teacher {
	&__item {
		height: min(707px, 36vw);
		background-color: $dark;
		border-radius: $br-max;
		border: 1px solid $dark;
		position: relative;
		z-index: 2;
		overflow: hidden;
		transition: $tr;		
		@media (hover: hover) {
			&:hover {
				border-color: $accent;
				.slider-teacher__name,
				.slider-teacher__grid {
					opacity: 1;
				}	
				.slider-teacher__grid {
					@media (max-width: $r-tab) {
						opacity: 0;
					}
				}			
			}
		}
		@media (max-width: $r-desk_full) {
			height: min(672px, 47vw);
		}
		@media (max-width: $r-tab) {
			border-color: $accent;
		}
		@media (max-width: ($r-tab - 1px)) {
			border-radius: $br-min;
			height: min(672px, 66vw);
		}
	}
	&__grid {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		transition: $tr;
	}
	&__img {
		width: 100%;
		height: min(637px, 32vw);
		object-fit: cover;
		position: absolute;
		bottom: 0;
		@media (max-width: $r-desk_full) {
			height: min(630px, 44vw);
		}
		@media (max-width: ($r-tab - 1px)) {
			height: 100%;
		}	
	}
	&__name {
		width: 100%;
		position: absolute;
		font-weight: 400;
		font-size: clamp(1.6rem, 2vw - 0.75rem, 2.4rem);
		bottom: 30px;
		left: 30px;	
		transition: $tr;
		z-index: 1;
		opacity: 0;	
		@media (max-width: $r-desk_full) {
			text-align: center;
			left: 0;	
		}
		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 637px;
			background: linear-gradient(42deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.00) 59.08%);
			background-repeat: no-repeat;
			position: absolute;
			left: -30px;
			bottom: -30px;
			z-index: -1;
			@media (max-width: $r-desk_full) {
				left: 0;
			}
		}
		&._desktop {
			@media (max-width: $r-tab) {
				display: none;
			}
		}
		&._mobile {
			display: none;
			font-size: 1.2rem;
			margin-top: 8px;
			position: inherit;
			bottom: inherit;
			left: inherit;	
			opacity: 1;
			@media (max-width: $r-tab) {
				display: block;
			}
			&::before {
				display: none;
			}
		}
	}
}

.accordion {	
	&__btn {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: $br-min;
		background-color: $light;
		color: $accent;
		font-size: 3.2rem;
		line-height: 110%;
		padding: 27px 25px 27px 30px;
		margin-bottom: 24px;
		cursor: pointer;		
		@media (max-width: $r-desk) {
			font-size: clamp(1.4rem, 2.9vw, 3.2rem);
		}
		@media (max-width: $r-tab) {
			padding: 15px 15px 15px 20px;
		}
		@media (max-width: ($r-tab - 20px)) {
			border-radius: 10px;
			padding: 5px 5px 5px 15px;
			margin-bottom: 12px;
		}
		&::after {
			content: '';
			display: block;
			width: 50px;
			height: 50px;
			background-image: url(../images/ui/minus.svg);
			background-repeat: no-repeat;
			background-size: contain;
			@media (max-width: ($r-tab - 20px)) {
				width: 40px;
				height: 40px;
			}
		}
		&.active {
			&::after {
				background-image: url(../images/ui/plus.svg);
			}
		}
	}
	&__panel {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
	}
	&__list {
		list-style-type: none;
		background-color: $light;
		color: $dark;
		border-radius: $br-min;
		font-weight: 300;
		font-size: 2.4rem;
		line-height: 110%;
		padding: 0 50px;			
		@media (max-width: $r-tab) {
			padding: 0 20px;	
		}		
		@media (max-width: ($r-tab - 20px)) {
			border-radius: 10px;
			padding: 0 15px;	
		}		
	}
	&__item {
		display: flex;
		align-items: center;
		gap: 5px;
		padding-top: 30px;
		padding-bottom: 15px;
		position: relative;
		@media (max-width: $r-desk) {
			font-size: clamp(1.2rem, 2.3vw, 2.4rem);
		}	
		@media (max-width: ($r-tab - 20px)) {
			padding-top: 22px;
			padding-bottom: 10px;
		}		
		&:last-child {
			padding-bottom: 30px;
			@media (max-width: ($r-tab - 20px)) {
				padding-bottom: 20px;
			}		
		}
		&::before {
			content: '—';
		}
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: $gray;
			left: 0;
			bottom: 0;
		}
	}
}

.steps {
	border: 1px solid $light;
	border-radius: $br-max;
	background: linear-gradient(180deg, #1f2023 0%, #7027e2 50%, #1f2023 100%);
	padding-top: 150px;
	padding-bottom: 150px;
	margin-bottom: 150px;
	max-width: 1920px;
	margin: 0 auto;
	@media (max-width: $r-desk) {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	@media (max-width: $r-tab) {
		padding-top: 80px;
		padding-bottom: 100px;
	}
	@media (max-width: $r-mobile_600) {
		border-radius: $br-min;
		padding: 20px 0;
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 30px;
		margin-top: 50px;
		@media (max-width: $r-desk_full) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: $r-tab) {
			gap: 20px;
		}
		@media (max-width: $r-mobile_600) {
			grid-template-columns: 1fr;
			margin-top: 20px;
		}
	}
	&__item {
		background-color: $light;
		border-radius: $br-max;		
		padding: 30px;		
		transition: $tr;	
		@media (hover: hover) {
			&:hover {			
				box-shadow: 0px 0 15px 10px $gray;
			}
		}
		@media (max-width: $r-mobile_600) {
			border-radius: $br-min;		
			padding: 20px 15px;		
		}
	}
	&__text {
		color: $dark;
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 150%;
		@media (max-width: $r-mobile_600) {
			font-size: 1.2rem;
		}
	}
	&__icon {
		margin-bottom: 20px;	
		@media (max-width: $r-mobile_600) {
			width: 40px;
			height: 40px; 
			margin-bottom: 12px;
		}
	}
}

.result {
	margin-top: 150px;
	margin-bottom: 150px;
	container-type: inline-size;
	container-name: result;	
	@container result (max-width: 935px) {
		.result__list {
			grid-template-columns: repeat(2, 1fr);
			padding-bottom: 120px;
		}
		.result__item._subgrid {
			grid-column: inherit;
			grid-template-columns: 1 / 1;
		}
		.result__btn {
			width: 100%;
			padding: 40px 30px;
			grid-column: inherit;
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
	@container result (max-width: 600px) {
		.result__btn {
			font-size: clamp(1.4rem, 3cqi, 2.0rem);
		}
	}
	@container result (max-width: 450px) {
		.result__list {
			grid-template-columns: 1fr;			
			padding-bottom: 100px;
		}
		.result__btn {
			padding: 30px 30px;
		}
	}
	@container result (max-width: 400px) {
		.result__list {
			padding-bottom: 90px;
		}
		.result__btn {
			padding: 19px 50px;
		}
	}
	@media (max-width: $r-desk) {
		margin-top: 100px;
		margin-bottom: 100px;
	}
	@media (max-width: $r-tab) {
		margin-top: 80px;	
		margin-bottom: 80px;	
	}
	@media (max-width: ($r-tab - 20px)) {
		margin-top: 50px;	
		margin-bottom: 50px;	
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 30px;
		margin-top: 50px;		
		position: relative;
		@media (max-width: $r-tab) {
			gap: 20px;
		}
		@media (max-width: ($r-tab - 20px)) {
			margin-top: 20px;	
		}
	}
	&__item {
		background-color: $light;
		padding: 30px;
		border-radius: $br-min;
		@media (max-width: $r-desk) {
			padding: clamp(20px, 2.8vw, 30px);
		}
		@media (hover: hover) {
			&:hover {
				background-color: $gray;			
				.result__text {
					span {
						transform: translate(-5%, -5%);
					}
				}		
			}
		}
		&._subgrid {
			grid-column: 2 / 5;
			display: grid;
			grid-template-columns: subgrid;
			align-items: center;
		}
	}
	&__text {
		display: flex;
		flex-direction: column;
		gap: 20px;
		color: $dark;
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 150%;
		@media (max-width: $r-desk) {
			font-size: 1.2rem;
		}
		@media (max-width: ($r-tab - 20px)) {
			gap: 12px;
		}
		span {
			width: fit-content;
			background-color: $accent;
			color: $light;
			border-radius: 10px;
			font-weight: 600;
			font-size: 2.4rem;
			line-height: 110%;
			padding: 10px;
			transition: $tr;
			@media (max-width: ($r-tab - 20px)) {
				font-size: 1.8rem;
			}
		}
	}
	&__btn {
		grid-column: 2 / 4;
		text-align: center;
		background-color: $accent;
		color: $light;
		border: 1px solid $accent;		
		border-radius: $br-min;
		font-weight: 600;
		font-size: 2rem;
		letter-spacing: 1px;
		line-height: 110%;		
		padding: 53px;
		text-transform: uppercase;
		transition: $tr;
		@media(hover:hover) {
			&:hover {
				color: $accent;
				background-color: transparent;
			}
		}
	}
}

.areas {
	margin-bottom: 150px;
	@media (max-width: $r-desk) {
		margin-bottom: 100px;
	}
	&__link {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px;
		border-color: transparent;
		border-bottom: 1px solid $accent;
		color: $light;
		font-weight: 400;
		font-size: 32px;
		line-height: 150%;
		border-radius: 0;
		margin-bottom: 30px;
		position: relative;
		transition: $tr;
		@media (max-width: $r-desk_full_over) {
			font-size: clamp(2.0rem, 1.2vw + 0.75rem, 3.2rem);
		}		
		@media (max-width: $r-desk) {
			padding: 30px 20px;
		}
		@media (max-width: ($r-tab - 20px)) {
			padding: 20px 0;
			margin-bottom: 16px;
			font-size: clamp(1.4rem, 1.6vw + 0.8rem, 2rem);
		}
		@media (hover: hover) {
			&:hover {
				border-radius: 10px;
				background-color: $accent;
				&::after {
					transform: rotate(45deg);
				}
				&::before {
					opacity: 1;
					transform: scale(1);
				}
			}
		}
		&:last-child {
			border-bottom: 0;
			margin-bottom: 0;
		}
		&::after {
			content: '';
			display: block;
			width: 48px;
			height: 48px;
			background-image: url(../images/ui/arrow-rotate.svg);
			background-repeat: no-repeat;
			background-size: contain;
			transition: $tr;
			@media (max-width: ($r-tab - 20px)) {
				width: 40px;
			height: 40px;
			}
		}
		&::before {
			content: '';
			display: block;
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			right: 0;
			margin: 0 auto;
			left: 37vw;
			opacity: 0;
			transform: scale(0);
			transition: $tr;
		}
		&._acoustic {
			margin-top: 50px;
			@media (max-width: ($r-tab - 20px)) {
				margin-top: 20px;
			}
			&::before {
				width: clamp(200px, 37vw, 568px);
				height: 314px;
				background-image: url(../images/areas/acoustic.png);
				background-position: center;
				top: calc(50% - 157px);
				@media (max-width: ($r-desk - 24px)) {
					display: none;
				}				
			}
		}
		&._drums {
			&::before {
				width: clamp(200px, 27vw, 474px);
				height: 474px;
				background-image: url(../images/areas/drums.png);
				background-position: center;
				top: calc(50% - 228px);
				@media (max-width: ($r-desk - 24px)) {
					display: none;
				}	
			}
		}
		&._violin {
			&::before {
				width: clamp(200px, 29vw, 568px);
				height: 524px;
				background-image: url(../images/areas/violin.png);
				background-position: center;
				top: calc(50% - 315px);		
				@media (max-width: ($r-desk - 24px)) {
					display: none;
				}	
			}
		}
		&._bas-guitar {
			&::before {
				width: clamp(200px, 32vw, 586px);
				height: 394px;
				background-image: url(../images/areas/bas-guitar.png);
				background-position: center;
				top: calc(50% - 237px);	
				@media (max-width: ($r-desk - 24px)) {
					display: none;
				}	
			}
		}
	}
}

.footer {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(2, 1fr);
	align-self: flex-end;
	background-color: $dark;
	border-radius: $br-min;
	padding: 30px 50px;
	margin-bottom: 30px;
	@media (max-width: $r-desk_wxga) {
		grid-template-columns: 1fr 160px;
		gap: 20px;
	}	
	@media (max-width: ($r-desk - 20px)) {
		grid-template-columns: 1fr;
		padding: 20px 15px;
	}	
	&__text {
		font-size: 1.6rem;
		line-height: 150%;
		& + & { 	
			@media (max-width: ($r-tab - 20px)) {
				margin-bottom: 20px;			
			}
		}
		@media (max-width: ($r-tab - 20px)) {
			font-size: clamp(1.2rem, 1.8vw + 0.2rem, 1.6rem);
		}
	}
	&__link {
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 150%;
		color: $accent;
		margin-left: 10px;
		box-shadow: 0 4px 0 -3px $accent;
		transition: $tr;
		@media (max-width: ($r-tab - 20px)) {
			display: block;
			margin-left: 0;
			margin-top: 8px;
		}
		@media (hover: hover) {
			&:hover {
				box-shadow: 0 4px 0 -3px transparent;
			}	
		}			
		@media (max-width: ($r-tab - 20px)) {
			margin-bottom: 20px;			
			width: 151px;
		}		
	}
	&__info {
		margin-left: 5px;
    margin-top: 2px;
		@media (max-width: $r-desk_wxga) {
			grid-column: 1 / 3;
		}
		@media (max-width: ($r-tab - 20px)) {
			grid-column: 1 / 1;
			margin-left: 0;
			padding-right: 110px;
		}
	}
	&_copy {
		justify-self: end;
		align-self: end;
		@media (max-width: $r-desk_wxga) {			
			justify-self: start;
			align-self: start;
		}
		@media (max-width: ($r-tab - 20px)) {
			padding-right: 110px;
		}
	}
}

.social {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;	
	@media (max-width: ($r-tab - 20px)) {
		justify-content: start;
		margin-bottom: 20px;
	}
	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 44px;
		height: 44px;
		background-color: $light;
		background-repeat: no-repeat;
		border-radius: 10px;
		position: relative;
		transition: $tr;
		@media (hover: hover) {
			&:hover{
				background-color: $accent;
				&::after { 
					background-color: $light;
				}
			}
		}
		&::after {
			content: '';
			position: absolute;
			display: block;
			background-color: $accent;
			mask: center center / 100% no-repeat;
			-webkit-mask: center center / 100% no-repeat;
			transition: $tr;
		}
		&._wa {			
			&::after {
				width: 28px;				
				height: 28px;
				mask-image: url(../images/social/wa.svg);
				-webkit-mask-image: url(../images/social/wa.svg);
			}
		}
		&._vk {
			&::after {
				width: 31px;				
				height: 18px;
				mask-image: url(../images/social/vk.svg);
				-webkit-mask-image: url(../images/social/vk.svg);
			}
		}
		&._tg {			
			&::after {
				width: 25px;				
				height: 21px;
				mask-image: url(../images/social/tg.svg);
				-webkit-mask-image: url(../images/social/tg.svg);
			}
		}
	}
}