@import 'font';
@import 'var';
@import 'normalize';

html {
	font-size: 10px;
}

body {
	font-family: $font;
	font-weight: 400;
	background-color: $bg;
}

a {
	text-decoration: none;
}

.header {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	height: 71px;
	position: sticky;
	top: 0;
	z-index: 3;
	&::before {
		content: '';
		display: block;
		width: 100%;
		height: 27px;
		position: absolute;
		background-color: $accent;
		border-radius: 10px 10px 0 0;
		top: 0;
		left: 0;
		z-index: -1;
	}
	
	&__logo {
		background-color: $accent;
		padding: 17px 45px 0 45px;
		border-radius: 10px 0 0 0;
		position: relative;
		&::before {
			content: '';
			display: block;
			width: 26px;
			height: 24px;
			background-image: url(../images/header-bottom-left.svg);
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			bottom: -24px;
			left: 0;
		}
		&::after {
			content: '';
			display: block;
			width: 68px;
			height: 71px;
			background-image: url(../images/header-left.svg);
			position: absolute;
			right: -67px;
			top: 0;
		}
	}

	&__link {
		color: $light;
		font-size: 2rem;
		background-color: $accent;
		padding: 17px 45px 0 45px;
		border-radius: 0 10px 0 0;
		position: relative;		
		&::before {
			content: '';
			display: block;
			width: 68px;
			height: 71px;
			background-image: url(../images/header-right.svg);
			position: absolute;
			left: -67px;
			top: 0;
		}
		&::after {
			content: '';
			display: block;
			width: 26px;
			height: 24px;
			background-image: url(../images/header-bottom-right.svg);
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			right: 0;
			bottom: -24px;			
		}
	}
}

.container {
	height: 100%;
	max-width: 1830px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;	
}

.banner {
	display: flex;
	background-image: url(../images/bg-banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: space-between;
	min-height: 861px;
	margin-top: 54px;
	border-radius: 55px;
	color: $light;	
	&__main {
		max-width: 1031px;
		padding: 100px 0 0 50px;
	}

	&__title {
		font-size: 6.4rem;
		font-weight: 700;
		padding-bottom: 20px;
		line-height: 70px;		
	}
	
	&__text {
		font-size: 2rem;
	}
	
	&__btn {
		padding: 54px 423.5px;
		background-color: $accent;
		color: $light;
		border-radius: 20px;
		font-size: 2rem;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		text-decoration: none;
	}

	&__info {
		min-width: 649px; //заглушка для правого блока
		padding-right: 50px;
	}
}

.banner-box {
	border-radius: 20px;
	border: 1px solid $light;
	padding: 30px 330px 30px 30px;
	margin-bottom: 190px;
	letter-spacing: 0.05em;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		width: 336.8px;
		height: 273.87px;
		background-repeat: no-repeat;
		top: -69px;
    left: 714px;
		background-image: url(../images/areas/electoguitar.png);
	}
	&__title {
		font-weight: 400;
		font-size: 2.4rem;
		padding-bottom: 30px;
		text-transform: uppercase;
	}
	&__text {
		width: 669px;
		font-weight: 400;
		font-size: 2rem;
		line-height: 150%;
	}
}